
<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand"><span class="glyphicon glyphicon-dashboard"></span> Overview</span>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Location : {{controllers.measurements.currentLocation}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>{{#link-to 'measurements' (query-params currentLocation="all")}}All Locations{{/link-to}}</li>
            <li class="divider"></li>
            {{#each location in uniqLocations}}
              <li>
              {{#link-to 'measurements' (query-params currentLocation=location)}}{{location}}{{/link-to}}
              </li>
            {{/each}}
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</div>





<div class="overview clearfix">
  <div class="timing">
    <h3>{{#link-to 'measurements.timing'}}<span class="glyphicon glyphicon-time"></span> Timing{{/link-to}}</h3>
    {{nvd3-chart data=currentLineData showLegend=true height="200px"}}
  </div>
  <div class="http-response-history">
    <h3>{{#link-to 'measurements.response_codes'}}<span class="glyphicon glyphicon-cutlery"></span> Http Status History{{/link-to}}</h3>
    {{nvd3-chart data=currentRunningTotalsHttpData showLegend=true height="200px"}}
  </div>
  <div class="http-response">
    <h3>{{#link-to 'measurements.response_codes'}}<span class="glyphicon glyphicon-cutlery"></span> Http Status{{/link-to}}</h3>
    {{nvd3-donut-chart data=currentHttpPieData height="200px"}}
  </div>
  <div class="location-history">
    <h3>Location history</h3>
    {{nvd3-chart data=currentRunningTotalsData showLegend=true height="200px"}}
  </div>
  <div class="locations">
    <h3>Location</h3>
    {{nvd3-donut-chart data=currentLocationPieData height="200px"}}
  </div>
</div>


    






<div class="pies">
  <div class="pie ">
    <h3>Primary IP</h3>
    {{nvd3-donut-chart data=currentPrimaryIpPieData}}
  </div>
  <div class="pie">
    <h3>Local IP</h3>
    {{nvd3-donut-chart data=currentLocalIpPieData}}
  </div>
  <div class="pie">
    <h3>Exit Status</h3>
    {{nvd3-donut-chart data=currentExitPieData}}
  </div>
  
</div>
