<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">HTTP Response Codes</span>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'measurements.index' (query-params currentLocation="all")}}Back to Overview{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</div>

<div class="http-responses">
  <div class="location">
    <h3>{{#link-to 'measurements' (query-params currentLocation="do-ams2")}}do-ams2{{/link-to}}</h3>
    <div class="history">{{nvd3-chart data=runningTotalsData.do-ams2.http_status showLegend=true height="150px"}}</div>
    <div class="pie">{{nvd3-donut-chart data=masterLocationData.do-ams2.http_status showLegend=true height="150px"}}</div>
  </div>
  <div class="location">
    <h3>{{#link-to 'measurements' (query-params currentLocation="do-ny2")}}do-ny2{{/link-to}}</h3>
    <div class="history">{{nvd3-chart data=runningTotalsData.do-ny2.http_status showLegend=true height="150px"}}</div>
    <div class="pie">{{nvd3-donut-chart data=masterLocationData.do-ny2.http_status showLegend=true height="150px"}}</div>
  </div>
  <div class="location">
    <h3>{{#link-to 'measurements' (query-params currentLocation="do-sf1")}}do-sf1{{/link-to}}</h3>
    <div class="history">{{nvd3-chart data=runningTotalsData.do-sf1.http_status showLegend=true height="150px"}}</div>
    <div class="pie">{{nvd3-donut-chart data=masterLocationData.do-sf1.http_status showLegend=true height="150px"}}</div>
  </div>
  <div class="location">
    <h3>{{#link-to 'measurements' (query-params currentLocation="do-sin1")}}do-sin1{{/link-to}}</h3>
    <div class="history">{{nvd3-chart data=runningTotalsData.do-sin1.http_status showLegend=true height="150px"}}</div>
    <div class="pie">{{nvd3-donut-chart data=masterLocationData.do-sin1.http_status showLegend=true height="150px"}}</div>
  </div>
  
</div>
