<h2 class="sub-header">Measurements</h2>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Timestamp</th>
        <th>Total Time</th>
        <th>Location</th>
        <th>Exit Status</th>
        <th>Http Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each measurement in content}}
        <tr>
          <td>{{measurement.id}}</td>
          <td>{{measurement.t}}</td>
          <td>{{measurement.total_time}}</td>
          <td>{{measurement.location}}</td>
          <td>{{measurement.exit_status}}</td>
          <td>{{measurement.http_status}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
