<h3>Total Time</h3>
{{nvd3-chart data=allTheData showLegend=true}}


<div class="locations">
  <div class="location">
    <h3>do-ams2</h3>
    {{nvd3-chart data=doams2LineData}}
  </div>

  <div class="location">
    <h3>do-sf1</h3>
    {{nvd3-chart data=dosf1LineData}}
  </div>

  <div class="location">
    <h3>do-ny2</h3>
    {{nvd3-chart data=dony2LineData}}
  </div>

  <div class="location">
    <h3>do-sin1</h3>
    {{nvd3-chart data=dosin1LineData}}
  </div>
</div>




